/*.user-not-voted {
    background: url(ico-starwhite.png)no-repeat 0 0;
    width: 24px;
    height: 24px;
    
}
.user-voted{
    background: url(ico-starwhite.png)no-repeat 0 0;
    background-color:#e0007b;
    width: 24px;
    height: 24px;
    
}
*/

